body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.App {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

h1 {
    color: #1e90ff;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.login-button {
    display: inline-block;
    background-color: #1e90ff;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #63b8ff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e6f7ff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    margin-left: 10px;
}

h2 {
    margin-top: 20px;
    color: #1e90ff;
}

p {
    margin: 5px 0;
}

.track-features {
    background-color: #f0f8ff;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: left;
}

.track-features p {
    margin: 5px 0;
    color: #666;
}

.track-features strong {
    color: #333;
}

@keyframes moveHues {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #1e90ff, #63b8ff, #b0e0e6);
    background-size: 600% 600%;
    animation: moveHues 15s ease infinite;
    z-index: 0;
}
