body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.App {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #1db954;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #1db954;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1ed760;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #282828;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    margin-left: 10px;
}

h2 {
    margin-top: 20px;
    color: #1db954;
}

p {
    margin: 5px 0;
}

.track-features {
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: left;
}

.track-features p {
    margin: 5px 0;
    color: #ccc;
}

.track-features strong {
    color: #fff;
}
